<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="images/Webalys-Kameleon.pics-Food-Dome.ico"/>
  <title>ConVid-SignUp!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="initialh1"><strong>Enter Your Category</strong></h1>
  <div class="btn-group btn-group-lg"><br><br>
<table cellspacing="10">
  <tr>
    <td>
        <button  type="button" class="btn btn-outline-primary btn-light" onclick="window.location.href = '{% url 'shop_signup' %}';">Shop Admin</button>
    </td>
    <td>
      <button  type="button" class="btn btn-outline-primary btn-light" style="margin-left: auto; margin-right: auto;" onclick="window.location.href = '{% url 'signup' %}';">Customer</button>
    </td>
  </tr>
</table>

  </div>
</div>

</body>
</html>
