{% load static %}
{% static "media/img" as baseurl %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Convid | {{ data.shop_name }} </title>
<link rel="icon" href="images/Webalys-Kameleon.pics-Food-Dome.ico"/>
<link rel="stylesheet" href="#">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>

.align{
  text-align: center;
}
.aligndiv{
margin:5px;
padding-bottom: 50px;

img {
    max-width: 100%;
    max-height: 100%;
}
.landscape {
    height: 30px;
    width: 80px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
}</style>
</head>
<body  style="background-color: ghostwhite" >
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><h1><strong>ConVid</strong></h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Trending Shops and Offers</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">SignOut</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr>
  <br />
  <div class = "container">
    <br />
    <h1 style="text-align : center;">{{ data.shop_name }}</h1>
    <div>
      <br />
      <img class="landscape" src="{{ data.img.url }}" alt = "Image Of the Shop" style='height: auto%; width: 95%; object-fit: contain'/>
      </div>
  <hr />
  <p>{{ data.bio }}
      </p>
      <b>Phone no:</b> {{ data.phone_no }} <br>
      <b>Location:</b> {{ data.location }}
      <hr style="background-color: black;">



          <h3 style="text-align:center;">Sections</h3>
          <hr />

          {% for section in sec %}

          <button type="button aligndiv" class="btn btn-light" onclick="location.href='#';" style="cursor: pointer;">
          <img src="{{ section.img.url }}" alt="Section image"  style='height: auto%; width: 35%; '><br />
          <b><em>{{ section.section_name }}</em></b>
          <p>{{ section.description }}
          </p>
                <button class="button btn btn-dark" style="  margin:auto;
          display:block;">Connect</button>
          </button>
              <hr />

         {% endfor %}

</div>
  </body>
